@model RepairShop.View_Models.PartsViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Parts[0].Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Parts[0].Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Parts[0].Price)
        </th>
        <th></th>
        <th>Available Parts</th>
        <th></th>
    </tr>

@foreach (var item in Model.Parts) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Brand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
        <td>
            @Model.AvailableParts.Count(x => x.Brand == item.Brand && x.Type == item.Type)
        </td>
        <td>
            <input class="btn btn-default" type="button" value="Add Available Part" onclick="location.href='@Url.Action("AddAvailablePart", "Parts", new { id = item.ID })'" />
        </td>
    </tr>
}

</table>
