@using RepairShop.Models
@using RepairShop.Extensions
@using System.Linq

@model IEnumerable<RepairShop.Models.RepairOrder>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table" id="centerTable">
    <tr>
        @foreach (RepairOrderStatus item in Enum.GetValues(typeof(RepairOrderStatus)))
        {
            <th style="width:25%">
                @item.DisplayName()
            </th>
        }
    </tr>
    <tr>
        @foreach (RepairOrderStatus item in Enum.GetValues(typeof(RepairOrderStatus)))
        {
            <td style="width:25%">
                @Model.Count(i => i.Status == item).ToString()
            </td>
        }
    </tr>
</table>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Customer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Repairman)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        string GetColorString()
        {
            if (item.StartDate > item.EndDate)
            {
                return "#f55";
            }

            switch (item.Status)
            {
                case RepairOrderStatus.AwaitingParts:
                    return "orange";

                case RepairOrderStatus.Awaiting:
                    return item.StartDate > DateTime.Today ? "white" : "#f55";

                case RepairOrderStatus.Done:
                    return "limegreen";

                case RepairOrderStatus.Pending:
                    return "yellow";

                default:
                    return "white";
            }
        }

        string colorString = $"background-color: {GetColorString()};";
        <tr style="@colorString">
            <td>
                @Html.DisplayFor(model => item.Customer.FullName)
            </td>
            <td>
                @Html.DisplayFor(model => item.Repairman.FullName)
            </td>
            <td>
                @Html.DisplayFor(model => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(model => item.EndDate)
            </td>
            <td>
                @item.Status.DisplayName()
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
            <td>
                @Html.ActionLink("Edit Parts", "Parts", new { id = item.ID })
            </td>
        </tr>
    }

</table>
