@model RepairShop.View_Models.RepairOrderPartsViewModel
@Styles.Render("~/Content/Parts.css")

<div id="mainContainer">
    <div>
        <table class="table" id="orderParts">
            <caption style="text-align:center">Parts reserved for order</caption>
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.AvailableParts[0].Brand)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AvailableParts[0].Type)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AvailableParts[0].Price)
                    </th>
                    <th>
                        Quantity
                    </th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div style="margin: 10px 0 0 0; text-align:center">
        <input id="saveChanges" class="btn btn-success" style="width:150px" type="submit" value="Save changes" onclick="saveChanges()" />
        <input class="btn btn-danger" style="width:150px" type="submit" value="Reset" onclick="location.reload()" />

        <p id="saved" hidden>Saved</p>
    </div>

    <div>
        <table class="table" id="dbParts">
            <caption style="text-align:center">Available parts</caption>
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.AvailableParts[0].Brand)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AvailableParts[0].Type)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AvailableParts[0].Price)
                    </th>
                    <th>
                        Quantity
                    </th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $.getJSON("/RepairOrders/OrderParts", { id: @Model.RepairOrder.ID, }, fillTable('#orderParts'));
            $.getJSON("/RepairOrders/DbParts", fillTable('#dbParts'));
        });

        $("#dbParts").on('click', 'tr:has(td)', handleRow('#orderParts'));
        $("#orderParts").on('click', 'tr:has(td)', handleRow('#dbParts'));

        function fillTable(tableId) {
            return function (json) {
                var uniqueItems = {};
                for (var i = 0; i < json.length; i++) {
                    var part = json[i];
                    var item = part.Brand + part.Type;
                    if (item in uniqueItems) {
                        uniqueItems[item].push(part);
                    }
                    else {
                        uniqueItems[item] = new Array(part);
                    }
                }

                var tr;
                var uniqueKeys = Object.keys(uniqueItems); // ["Koekjevan eigen deeg", "Koekjevoor de honger"]
                for (var i = 0; i < uniqueKeys.length; i++) {
                    var idArray = [];
                    var parts = uniqueItems[uniqueKeys[i]];
                    for (var j = 0; j < parts.length; j++) {
                        idArray.push(parts[j].ID);
                    }

                    tr = $('<tr/>');
                    tr.append("<input id='item_ID' name='item.ID' type='hidden' value='" + idArray.join(",") + "' />")
                    tr.append("<td>" + parts[0].Brand + "</td>");
                    tr.append("<td>" + parts[0].Type + "</td>");
                    tr.append("<td>&euro;" + parts[0].Price + "</td>");
                    tr.append("<td>" + parts.length + "</td>");
                    $(tableId).append(tr);
                }
            }
        }



        function handleRow(targetTable) {
            return function () {
                var cells = $(this).children();
                var ids = cells[0].value.split(",");
                var targetRow = $(targetTable + " tr:contains(" + cells[1].textContent + "):contains(" + cells[2].textContent + ")");

                if (targetRow.length == 0) {
                    moveRowToTable(cells, targetTable, ids[0]);
                }
                else {
                    var targetCells = targetRow.children();
                    targetCells[0].value += "," + ids[0];
                    targetCells[targetCells.length - 1].textContent++;
                }

                if (cells[cells.length - 1].textContent > 1) {
                    ids.shift();
                    cells[0].value = ids.join(",");
                    cells[cells.length - 1].textContent--;
                }
                else {
                    $(this).remove();
                }
            }
        }

        function moveRowToTable(cells, tableName, id) {
            var tr = $('<tr/>');
            tr.append("<input id='item_ID' name='item.ID' type='hidden' value='" + id + "' />")
            for (var i = 1; i < cells.length - 1; i++) {
                tr.append("<td>" + cells[i].textContent + "</td>");
            }

            tr.append("<td>1</td>")
            $(tableName).append(tr);
        }



        function saveChanges() {
            var tableRows = document.querySelectorAll('#orderParts > tbody > tr');
            var array = [];
            for (var i = 0; i < tableRows.length; i++) {
                var cells = tableRows[i].children;
                var ids = cells[0].value.split(",");
                for (var j = 0; j < ids.length; j++) {
                    var availablePart = {};
                    availablePart.ID = ids[j];
                    availablePart.Brand = cells[1].textContent;
                    availablePart.Type = cells[2].textContent;
                    availablePart.Price = cells[3].textContent.substr(1);
                    array.push(availablePart);
                }
            }

            var data = JSON.stringify({
                "parts": array,
                "id": @Model.RepairOrder.ID,
            })

            $("#saveChanges").prop("disabled", true);

            $.ajax({
                type: "POST",
                url: '/RepairOrders/Parts',
                data: data,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function () {
                    $("#saved").fadeIn(400).delay(1500).fadeOut(400);
                },
                error: function (error) {
                    alert("error:" + error.responseText);
                },
            }).done(function () {
                setTimeout(function () {
                    $("#saveChanges").prop("disabled", false);
                }, 1900);
            })
        }

    </script>
}
