@model RepairShop.View_Models.RepairOrderPartsViewModel

<style>
    tbody tr:hover {
        background-color: #a6c9e2;
    }

    tbody {
        display: block;
        max-height: 370px;
        overflow-y: auto;
        scrollbar-width: thin;
    }

    th, tr {
        text-align: center;
        user-select: none;
    }

    thead, tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }

    #mainContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

</style>

<div id="mainContainer">
    <div>
        <table class="table" id="orderParts">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.AvailableParts[0].Brand)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AvailableParts[0].Type)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AvailableParts[0].Price)
                    </th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div style="margin: 10px 0 0 0; text-align:center">
        <input class="btn btn-success" style="width:150px" type="submit" value="Save changes" onclick="saveChanges()" />
        <input class="btn btn-danger" style="width:150px"  type="submit" value="Reset" onclick="location.reload()" />
    </div>

    <div>
        <table class="table" id="dbParts">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.AvailableParts[0].Brand)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AvailableParts[0].Type)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AvailableParts[0].Price)
                    </th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>

        function fillTable(tableId) {
            return function (json) {
                var tr;
                for (var i = 0; i < json.length; i++) {
                    tr = $('<tr/>');
                    tr.append("<input id='item_ID' name='item.ID' type='hidden' value='" + json[i].ID + "' />")
                    tr.append("<td>"+ json[i].Brand + "</td>");
                    tr.append("<td>" + json[i].Type + "</td>");
                    tr.append("<td>&euro;" + json[i].Price + "</td>");
                    $(tableId).append(tr);
                }
            }
        }

        $(document).ready(function () {
            $.getJSON("/RepairOrders/DbParts", fillTable('#dbParts'));
            $.getJSON("/RepairOrders/OrderParts", { id: @Model.RepairOrder.ID, }, fillTable('#orderParts'));
        });

        function switchToTable(tableName) {
            return function () {
                var cells = $(this).children();
                var tr = $('<tr/>');
                tr.append("<input id='item_ID' name='item.ID' type='hidden' value='" + cells[0].value + "' />")
                for (var i = 1; i < cells.length; i++) {
                    tr.append("<td>" + cells[i].textContent + "</td>");
                }

                $(tableName).append(tr);
                $(this).remove();
            }
        }

        $("#dbParts").on('click', 'tr:has(td)', switchToTable('#orderParts'));
        $("#orderParts").on('click', 'tr:has(td)', switchToTable('#dbParts'));

        function saveChanges() {
            var tableRows = document.querySelectorAll('#orderParts > tbody > tr');
            var array = [];
            for (var i = 0; i < tableRows.length; i++) {
                var cells = tableRows[i].children;
                var availablePart = {};
                availablePart.ID = cells[0].value;
                availablePart.Brand = cells[1].textContent;
                availablePart.Type = cells[2].textContent;
                availablePart.Price = cells[3].textContent.substr(1);
                array.push(availablePart);
            }

            var data = JSON.stringify({
                "parts": array,
                "id": @Model.RepairOrder.ID,
            })

            $.ajax({
                type: "POST",
                url: '/RepairOrders/Parts',
                data: data,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                error: function (error) {
                    alert("error:" + error.responseText);
                },
            })
        }

    </script>
}
